// colors
$primary-color: #fbb03b;
$secondary-color: #1a1a1a;

//fonts
$primary-font: 'Domine', serif;
$secondary-font:'Montserrat', sans-serif;

html{
font-size: 125%;
font-family: $secondary-font
}

.wrapper{
    margin: 0 auto;
    max-width: 1020px;
    width: 80%;
    text-align: center;
}//wrapper

a{
    text-decoration: none;
    color: $primary-color;
}//a

p{
    font-size: 1rem;
    color: $secondary-color;
}//p

footer{
    padding-bottom: 1px;
     p{
        text-align: left;
        font-size: .5rem;
    }//p
}//footer

