// colors
$primary-color: #fbb03b;
$secondary-color: rgba(226,226,226, .9);

//fonts
$primary-font: 'Domine', serif;
$secondary-font:'Montserrat', sans-serif;

html{
font-size: 125%;
font-family: $secondary-font;
background: #13132d;
}
body{
    background: url(./assets/background-dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;  
}
.wrapper{
    margin: 0 auto;
    max-width: 1020px;
    width: 80%;
    text-align: center;
}//wrapper

a{
    text-decoration: none;
    color: $primary-color;
}//a

p{
    font-size: 1rem;
    color: $secondary-color;
}//p

footer{
    padding-bottom: 1px;
     p{
        text-align: left;
        opacity: .5;
        font-size: .5rem;
    }//p
}//footer

