.home{
    display: flex;
    flex-direction: column;
    background: url(./assets/background-dark.jpg);
    background-size: cover;
    height: 100vh;
   
}//home
header{
    h1{
        font-size: 4rem;
        color: $primary-color;
        font-family: $primary-font;
        margin:0;
    }//h1
    .plane{
        color: $primary-color;
        font-size: 4rem;
        margin:  25% 10% 5% 10%;  
        visibility: hidden;
    }//fa-plane
}//header
.home main{
    flex: 1 0 auto ;
    p{
        font-size: .75rem;
        margin-bottom: 100px;
    }//p
    a{  
        padding: 5px  10px;
        border:  3px solid $primary-color;
        &:hover{
            background: $primary-color;
            color: #fffffb;
            font-weight: 900;
            cursor: pointer;
            box-shadow: 3px 3px 3px rgba(26,26,26, .2);
        }//hover
    }//a
}//home main

