@media (max-width:750px){
    fieldset{ 
        margin-top: 40%;
        p{
            margin-bottom: 20%;
        }
        label{
            margin: 0 2%;
        } 
        .submit{
            margin-top: 20%;
        }
    }

    .results{
        div{
            width:350px;
            margin: 5% auto;
        }
        h2{

            font-size: 2.5rem;


        }
        p{
            width: 350px;
            margin: 0 auto 10% auto;
        }
    }
}

@media (max-width:485px){
    header .wrapper .fa-plane{
        top: -52px;
    }

    fieldset{ 
        margin-top: 40%;
        p{
           text-align: left;
        }
        label{
            display: block;
            padding:15px auto;
            margin: 20px 0;
            border: 3px solid $primary-color;
            color: $primary-color;
        }
        .submit{
            margin-top: 50%;
        }
    }
    .results{
        div{
            width:90%;
            margin: 10% auto;
        }
        h2{
            font-size: 2rem;
        }
        p{
            width: 90%;
            margin: 0 auto 10% auto;
        }
    }
}