// .quiz{
//     background: url(./assets/background-dark.jpg);
//     background-size: cover;
//     overflow: hidden;
// }//quiz

header .wrapper{
    text-align: left;
    font-size: 1rem;
    padding: 20px;
    a{
        position: relative;
        &:hover{
            font-weight:900;
            border-bottom: 3px solid $primary-color;
            .fa-plane{
                left: 1000px;
            }//fa-plane
        }//hover
    }//a
    .fa-plane{
        position: absolute;
        font-size: 1rem;
        top:-5px;
        left: 100px;
        transition: all ease 4s;
    }//fa-plane
}//header wrapper

fieldset{ 
    display: none;
    border: none;
    margin-top: 20%;
    p{
        font-family: $primary-font;
        font-size: 1.25rem;
        margin-bottom: 10%;
    }//p

    input[type="radio"], input[type="submit"]{
      display: none;  
    }//radio, submit

    label{
        display: inline-block;
        padding:15px 40px;
        margin: 0 10%;
        border: 3px solid $primary-color;
        color: $primary-color;
        &:hover{
            background: $primary-color;
            color: #fffffb;
            font-weight: 900;
            cursor: pointer;
            box-shadow: 3px 3px 3px rgba(26,26,26, .2);
        }//hover
    }//label
    .submit{
        margin-top: 15%;
    }//submit
}

fieldset:first-child{
    display:  block;
}//feildset

.results{
    margin-top: 3%;
    div{
        width:500px;
        margin: 5% auto;
        img{
            width: 100%;
        }//img
    }//div
    h2{
        font-family: $primary-font;
        color: $primary-color;
        font-size: 3rem;
        margin: 0;
    }//h2
    p{
        text-align: left;
        width: 500px;
        margin: 0 auto 5% auto;
        font-size: .75rem;
        line-height: 1.3rem;
    }//p
    a{  
        padding: 5px  10px;
        border:  3px solid $primary-color;
        &:hover{
            background: $primary-color;
            color: #fffffb;
            font-weight: 900;
            cursor: pointer;
            box-shadow: 3px 3px 3px rgba(26,26,26, .2);
        }//hover
    }//a
}//results